{% extends 'base.html.twig' %}

{% block title %}Accueil {% endblock %}

{% block body %}
	<div class="container mt-4">
		<div class="row">
			<div class="col-md-4">
				<a href="{{ path('gestion_index') }}" class="bloc_rubrique">
					<div class="shadow-lg p-3 mb-5 bg-white rounded">
				<div class="card text-white bg-success mb-3" style="max-width: 20rem;">
					  <div class="card-header">GESTION</div>
					  <div class="card-body">
					    <h4 class="card-title">Gestion des contrats</h4>
					    <p class="card-text">Cette rubrique nous permet d'accéder  aux pojets de la SAFEC d'afficher les contrats et d'autres informations</p>
  					  </div>
				</div>
					</div>
				<a/>
			</div>
			<div class="col-md-4">
				<a href="{{ path('ressource_index') }}" class="bloc_rubrique">
					<div class="shadow-lg p-3 mb-5 bg-white rounded">
				<div class="card text-white bg-info mb-3" style="max-width: 20rem;">
					  <div class="card-header">RH</div>
					  <div class="card-body">
					    <h4 class="card-title">Ressources Humaines</h4>
					    <p class="card-text">Selectionner pour avoir les informations sur le personnel travaillant avec la SAFEC
					    </p>
					  </div>
				</div>
					</div>
				</a>
			</div>
			<div class="col-md-4">
				<a href="http://simulateur.safec.sn/app_calcul/index.php/accueil" target="_blank" class="bloc_rubrique">
					<div class="shadow-lg p-3 mb-5 bg-white rounded">
				 <div class="card text-white bg-dark mb-3" style="max-width: 20rem;">
					  <div class="card-header">SIMULATEUR</div>
					  <div class="card-body">
					    <h4 class="card-title"> Accès au simulateur</h4>
					    <p class="card-text">Cette rubrique permet de connaître les états financiers avant de soumissionner un marché.</p>
					  </div>
				 </div>
					</div>
				</a>
			</div>
		</div>
	</div>	

		
	<div class="container mt-4">	
		<div class="row">
			<div class="col-md-4">
				<a href="#" class="bloc_rubrique">
					<div class="shadow-lg p-3 mb-5 bg-white rounded">
				<div class="card text-white bg-dark mb-3" style="max-width: 20rem;">
					  <div class="card-header">MOYENS</div>
					  <div class="card-body">
					    <h4 class="card-title">Moyens matériels</h4>
					    <p class="card-text">Dans cette rubrique ajouter et consulter les équipement,les voitures et la logistique de la SAFEC.</p>
					  </div>
				</div>
					</div>
				</a>
			</div>
			<div class="col-md-4">
				<a href="#" class="bloc_rubrique">
					<div class="shadow-lg p-3 mb-5 bg-white rounded">
				<div class="card text-white bg-info mb-3" style="max-width: 20rem;">
					  <div class="card-header">Projets</div>
					  <div class="card-body">
					    <h4 class="card-title">Gestion des projets</h4>
					    <p class="card-text">Sélectionner cette rubrique pour accèder à tous les projets de la société. Ajouter, modifier tous les projet</p>
					  </div>
				</div>
					</div>
				</a>
			</div>
			<div class="col-md-4">
				<a href="#" class="bloc_rubrique">
					<div class="shadow-lg p-3 mb-5 bg-white rounded">
					 <div class="card text-white bg-danger mb-3" style="max-width: 20rem;">
						  <div class="card-header">Marchés</div>
						  <div class="card-body">
							<h4 class="card-title">Soumission aux marchés</h4>
							<p class="card-text">Cette rubrique renseigne les informations sur nos soumissions de projets ou d'appel d'offres.</p>
						  </div>
					</div>
					</div>
				</a>
			</div>
		</div>
	</div>
	   
{% endblock %}
