<form method="post" action="{{ path('gestion_delete', {'id': gestion.id}) }}" onsubmit="return confirm('Etes-vous sûr de vouloir Supprimer cet élément?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ gestion.id) }}">
    <button class="btn btn-danger"><i class="fas fa-trash-alt"> Supprimer</i></button>
</form>
