{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block title %}Nouveau projet{% endblock %}
{% block stylesheets %}
    <style>
    body{
    background-color: #8f8d93;
    }
    </style>

{% endblock %}

{% block body %}
    <div class="container col-md-10 offset-1 shadow p-3 mb-5 bg-white rounded">
        <h1>Créer un nouveau projet</h1><br>

        {{ include('gestion/_form.html.twig') }}

        <a href="{{ path('gestion_index') }}"><i class="fas fa-hand-point-left"> Retour vers la liste de gestion</i></a>
    </div>

{% endblock %}
